@model SpartaGlobal_BugTracker.Models.Bug

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bug</h4>
    <hr />
    <dl class="dl-horizontal col-md-3">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_found)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_found)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.found_on_branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.found_on_branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.found_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.found_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bugID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
