@model IEnumerable<SpartaGlobal_BugTracker.Models.Bug>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>
            Bug Name
        </th>
        <th>
            Assigned To
        </th>
        <th>
            Current Status
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Employee.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.status)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.bugID }) |
        @Html.ActionLink("Details", "Details", new { id = item.bugID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.bugID })
    </td>
</tr>
                }

    </table>
